.navabar{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    height: 100px;
    background-color: #F5F5DC;
    border: 1px solid grey ;
    z-index: 1000;
    
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Tree-Logo{
    height: 65px;
}
.Name-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 65px;
}
.Tree-Search{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}
.Search-Bar{
    height: 42px;
    width: 400px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border:none;
    border-left: none;
    padding-left: 25px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1)
    
}
.Search-Icon{
    height: 42px;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    background-color: green;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1)
}
.Search-Icon:hover{
    border: 2px solid black;
    cursor: pointer;
}
.Option{
    display: flex;
    margin-top: 35px ;
    gap: 25px;
    font-weight:bold;
}
a{
    text-decoration: none;
    color: black;
}
.sub-op{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    
}
.sub-op:hover{
    background-color: #e6f5e6;
    border: 2px solid green;
    color: green;
    cursor: pointer;
}